/.vscode
.DS_Store
*.elf
*.bin
apps/*/build/
**/target/
!/vendor/**/Cargo.lock
/.axconfig.*\
/riscv64-linux-musl-cross
/musl-loongarch64-1.2.2
gcc-13.2.0-loongarch64-linux-gnu
/sdcard-riscv64.img
sdcard-loongarch64.img